@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: #020617;
    color: #f8fafc;
    font-family: 'Montserrat', sans-serif;
}