<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="/static/js/tailwind.js"></script>
        <link rel="stylesheet" href="/static/css/style.css" />
        <title>DBExplorer</title>
    </head>
    <body>
        <div id="statusline" class="text-red-500" style="text-align: center">Выберите базу данных...</div>
        <div id="db-form" class="panel">
            <div class="head">
                <section id="db-selection-section">
                    <!-- <label for="db" class="text-green-500">Имя базы данных</label> -->
                    <input type="text" name="db" id="db-input" placeholder="Имя или путь к БД" style="min-width: 40vw" />
                    <!-- <p style="display: inline;">или выберите из списка...</p> -->
                    <select id="db-dropdown">
                        <option value="$get" id="db-dropdown-refresh-option">Быстрый выбор базы / обновить список</option>
                    </select>
                </section>
            </div>
            <div id="tables" class="panel">
                <div class="head">
                    <!-- <button id="tables-close-button">Скрыть</button> -->
                    <button id="get-tables-btn">Получить/обновить список таблиц</button>
                    <div id="table-list-cntrols"></div>
                    <div id="tables-tabs"></div>
                </div>
                <div id="table-info"></div>
            </div>
        </div>

        <script src="/static/js/script.js"></script>
    </body>
</html>
